.dashboard {
  padding: 20px;
}
.dashboard .markdown-preview-section {
  max-width: 100%;
}
.dashboard div > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.dashboard div > ul > li {
  min-width: 200px;
  flex: 1;
  list-style: none;
}
.dashboard h1 {
  border-bottom: 1px solid var(--text-faint);
  padding-bottom: 4px;
}
